* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}


body {
    background-image: url("../images/escheresque/escheresque.png");
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.header {
    z-index: 2;
    position: Fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /*use pixels and resize for each device*/
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

#displacementHeader {/*This box must be the same dimensions as the header above*/
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
}

#headerContent {/*this boxe centers the header's contet and allows scaling. use %*/
    position: relative;
    width: 66.66%;
    height: 50px;
    padding: 0;
    margin: 0 auto;
}

#mainHeader{
    float: left;
    max-width: 50%;
    margin: 0;
    padding: 15px;/*height is set by font and padding and should be same as headerContent above total */
    font-size: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
}

#navigation {
    float: right;
    margin: 0;
    padding: 17px 0;/*padding top and bottom plus font-size below equals header height*/
}

#navigation li {
    display: inline;
    padding: 0 5px;
    font-size: 16px;
    cursor: pointer;
}

.navItem {
    border-right: 1px solid #050505;
}

.linkItem:hover {
    background-color: #d9e8e9;
    color: #2a2aad;
}



section {/*size this area as needed for content. It is best to set the width to % for multi-device compatability*/
    position: relative;
    width: 66.66%;
    margin: 20px auto 70px auto; /*bottom margin should be set to top margin + footer height*/
    background-color: #ffffff;
}

.sectionContent {
    width: 100%;
}

.sectionContent h2 {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 24px;
    color: #4aaaa5;
    border-bottom: 1px solid #777777;
}

#pictureBox {
    text-align: center;
    width: 95%;
    margin: 10px auto 10px auto;
}

.projectBox {
    display: inline-block;
    position: relative;
    width: 31%;
    min-width: 200px;
    margin: 0.75% 0.75% 1.5% 0.75%;
}

.projectImage {
    width: 100%;
    margin: 0;
}

.projectBanner {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.mainContent {
    width: 95%;
    margin: 15px auto 0 auto ;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.mainContent img {
    position: relative;
    float: left;
    max-width: 35%;
    min-width: 200px;
    margin: 5px 10px 0 0 ;
    padding: 2px;
    border: 1px solid #777777;
    background-color: #dad8d8;
}

#ski-image {
    float: right;
    min-width: 200px;
}

.mainContent p {
    padding: 5px;
    line-height: 1.5;
    font-size: 18px;

}

.mainContent p a {
    cursor: pointer;
    color: rgb(49, 36, 173);
}

ol li {
    list-style-type: decimal;
    list-style-position: inside;
    font-size: 18px;
    line-height: 1.5;
}

.mainContent form input {
    width: 90%;
    height: 20px;
    font-size: 16px;
}

.mainContent form textarea {
    width: 90%;
    height: 180px;
    font-size: 16px;
    padding-bottom: 10px;
}

button{
    background-color: #4aaaa5;
    font-size: 18px;
    width: 150px;
    height: 40px;
    margin: 0 20px 20px 0;
    color: #ffffff;

}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    margin: 0;
    padding: 30px 0 6px 0 ; /*add be sure the section margin is set properly with this footer margin*/
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
}

@media screen and (max-width: 980px) {
    #headerContent {
    width: 90%;
    margin: 0 auto 0 5%;
    }

    section {
        width: 66.66%;
        margin: 20px auto 70px 5%;
    }
}

@media screen and (max-width: 768px) {
    #headerContent {
    width: 96%;
    margin: 0 auto 0 2%;
    }

    section {
        width: 96%;
        margin: 20px auto 70px 2%;
    }
    .mainContent form textarea {
        height: 100px;
    }
}

@media screen and (max-width: 640px) {
    #headerContent {
    width: 100%;
    margin: 0 auto 0 auto;
    }

    #mainHeader{
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 10px;/*height is set by font and padding and should be same as headerContent above total */
        font-size: 18px;
        text-align: center;
    }
    
    #navigation {
        float: none;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;/*padding top and bottom plus font-size below equals header height*/
        font-size: 14px;
        text-align: center;
    }

    .header {
        position: absolute;
        height: 72px;
    }

    #displacementHeader {
        height: 62px;
    }

    section {
        width: 96%;
        margin: 20px auto 70px 2%;
    }
    .mainContent form textarea {
        height: 100px;
    }

    .projectBox {
        width: 65%;
    }

    .mainContent img {
        float: none;
        max-width: 80%;
        min-width: 200px;
        margin: 5px 10% 0 10% ;
    }
}